@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html,
  body,
  #__next {
    @apply h-full;
  }
}

@layer components {
  .input {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .button {
    background: rgba(0, 21, 41, 0.6);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(0, 21, 41, 0.3);

    @apply transition-colors hover:bg-[#001529]/[.8];
  }
}

@layer utilities {
  .glass-box {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
  }

  .text-shadow {
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6);
  }
}
