@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html,
  body,
  #__next {
    @apply h-full;
  }
}

@layer utilities {
  .glass-box {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.6);
  }

  .text-shadow {
    text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.4);
  }
}
